@import '../core/core';

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  background-color: $color-bg;
  color: $color-font;
  font-family: $font-main;
  height: 100%;
  &__main {
    color: $color-title;
    font-family: $font-title;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
}
