@import '../core/core';

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  background-color: $color-bg;
  color: $color-font;
  font-family: $font-main;
  height: 100%;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    &--image {
      width: 250px;
    }
  }
}
