@import '../core/core';

.browser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.warning {
  font-size: 20px;
  &__span {
    font-weight: bold;
  }
}
