@import '../core/core';

.characters {
  margin-top: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.characters__list {
  box-sizing: border-box;
  padding: 0 45px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
  grid-gap: 10px;
  @include tablet() {
    max-width: 768px;
  }
  @include desktop() {
    max-width: 1300px;
  }
}
