@import '../core/core';

.characters {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    @include tablet() {
      grid-template-columns: repeat(3, 1fr);
    }
    @include desktop() {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
