// fonts
$font-main: 'Lato', sans-serif;
$font-title: 'Fjalla One', sans-serif;

// colors backgrounds
$color-bg: #060d17;
$color-secondary: rgb(249, 209, 67);

// colors fonts
$color-font: rgb(205, 207, 214);
$color-font-selected: rgb(16, 25, 56);

$color-title: rgb(249, 209, 67);
